@using TpaoProject1.Model;
@{
    ViewData["Title"] = "UpdateFormation";
}
@model Formation
<h1>Update Formation</h1>
@if (TempData["Error"] != null)
{
    if (TempData["Error"].ToString() == "smaller")
    {
        <div class="alert alert-secondary" role="alert">
            Güncellenen formasyon öncekiden büyük olmalıdır
        </div>
    }
    else if (TempData["Error"].ToString() == "bigger")
    {
        <div class="alert alert-secondary" role="alert">
            Güncellenen formasyon sonrakinden küçük olmalıdır
        </div>
    }
}
<form asp-controller="Well" asp-action="UpdateFormation" method="post">
    <input class="form-control" type="text" name="Name" value="@ViewData["name"]" aria-label="Disabled input example" disabled readonly>
    <input class="form-control" type="text" name="Latitude" value="@ViewData["latitude"]" aria-label="Disabled input example" disabled readonly>
    <input class="form-control" type="text" name="Longitude" value="@ViewData["longitude"]" aria-label="Disabled input example" disabled readonly>

    <div class="input-group">
        <span class="input-group-text ">Update Formation Type and Meter</span>
        <select class="form-select " name="Form_type" required>
            <option disabled>Select Formation Type</option>
            <option value="@Model.Form_type"> @Model.Form_type </option>
        </select>
        <input type="text" name="Form_meter" class="form-control" placeholder="Update Formation Meter" required />
        <button type="submit" name="submit" class="btn btn-primary">Update</button>
    </div>
</form>