@using TpaoProject1.Model;
@{
    ViewData["Title"] = "ViewWell";
}
<h1>ViewWell</h1>
@model WellAndFormation
@if (Model != null)
{
@if (TempData["status"] != null)
{
    if (TempData["status"].ToString() == "true")
    {
        <div class="alert alert-secondary" role="alert">
            başarıyla eklendi
        </div>
    }
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Operation</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">@Model.well.Id</th>
            <td>@Model.well.Name</td>
            <td>@Model.well.Latitude</td>
            <td>@Model.well.Longitude</td>
            <td><a asp-controller="Well" asp-action="Remove" asp-route-id="@Model.well.Id"> Delete </a></td>
            <td><a asp-controller="Well" asp-action="Update" asp-route-id="@Model.well.Id"> Update </a></td>
            <td><a asp-controller="Well" asp-action="AddFormation" asp-route-id="@Model.well.Id"> Add Formation </a></td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th> Formation Type</th>
            <th> Formation Meter</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.formation)
        {
            //int a = Int16.Parse(item.Form_type)
            if (item.Form_type != null)
            {
                <tr>
                    <td>@item.Form_type.ToString()</td>
                    <td>@item.Form_meter</td>
                </tr>
            }
        }

    </tbody>

</table>

}
